.topbanner,
.wrapper {  
    max-width: 960px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    margin: 0px auto;
    top: 0px;
    height: 100px;
    position: absolute;
    border-bottom: solid #233656 5px;
    background: #fff;
}

.navbox {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    bottom: 76px;
}
.navlink {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:16px;
    text-align: center;
    border: solid white 1px;
    background-color: #233656;
    border-radius: 5px;
    padding: 2px 15px;
    animation-name: shapeshifter;
    animation-duration: 10s;
}

body {
    background:#e1e6ef;
}

section {
    background-color: #fff;
    border: solid 2px #233656;
    color: #233656;
    height: auto;
}

@keyframes shapeshifter {
    0%   {background-color: #d8e1f0ed;}
    25%  {background-color: #708dbe;}
    50%  {background-color: #233656;}
    100% {background-color: #095ff5;}
  }

h1 {
    padding: 25px;   
    border-radius: 3px;
    width: 200px;
    background-color: #233656;
    color: white;
    text-align: center;
    position: relative;
    bottom: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    animation-name: shapeshifter;
    animation-duration: 10s;
} 

 h2 {
     top: 100px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
}

h2,
p {
     padding: 10px;
}

p {
    position: relative;
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
     float:left;
     width: 150px;
     height: 175px;
     padding: 10px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.bottomline {
    height: 1px;
    background: #233656;
} 

.bottombanner {
    width: 100%;
    margin: 10px auto;
    bottom: 0px;
    height: 100px;
    border-top: solid #233656 5px;
    background: #fff;
    position: relative;
}

text {
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}




@media screen and (max-width:980px) {
    .wrapper {  
        float:left;
        max-width: 60%;
        margin: 0 auto;
    }

    .bottombanner {
        clear: left;
    }
}

@media screen and (max-width:768px){
    .wrapper {  
        float:left;
        max-width:100%;
        margin: 0 auto;
    }

    .bottombanner {
        clear: left;
    }
}

@media screen and (max-width:640px){
    .topbanner,
    .banner,
    .wrapper {  
        max-width:100%;
        margin: 0px auto;
    }

    .topbanner,
    .banner {
        background: none;
        border-bottom: none;
    }

    section {
        width: 100%;
    }

    .imagebox,
    .box1,
    .box2,
    .box3,
    .box4 {
        text-align: center;
        display: block;
        float: none;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        width: auto;
    }

    .navbox {
        float: none;
        position: absolute;
        top: 105px;
        width:100%;
        margin: 0px auto;
        display: block;
        text-align: center;
        border-radius: 0px;
    }
    
    .bottombanner {
        clear: left;
    }

    .photobooth {
        margin: 0px auto;
    }

    .imagebox {
        clear: left;
    }
}